.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 60vh;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: all linear 0.1s;
  width: 100px;
  height: 80px;
  margin: 10px;
  backdrop-filter: blur(5px);
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  color: #fff;
  cursor: pointer;
}

.key > kbd {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  margin-bottom: 4px;
}

.playing {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.6);
  color: yellow;
  margin-bottom: 20px;
}

.sound {
  color: rgba(255, 255, 255, 0.6);
}
