:root {
  --base: #ffcc00;
  --spacing: 0px;
  --blur: 0px;
  --grayscale: 0;
  --sepia: 0;
  --invert: 0;

  --rangeBG: #999;
  --rangeBGSlider: var(--base);
}

.wrap {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 46px);
}

.controls {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 10px 0;
}

.img1 {
  width: 100%;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) grayscale(var(--grayscale)) sepia(var(--sepia))
    invert(var(--invert));
  box-sizing: border-box;
}

h1 {
  color: #fff;
}

.h1 {
  color: var(--base);
  display: inline;
  padding: 0 12px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3),
    -1px -1px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
}
.dark {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3),
    -1px -1px 10px rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.6);
}

.area {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 40rem;
  height: auto;
  max-width: 90%;
  background: #fff;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 1rem;
  margin: 0;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.75);
}

label {
  font-size: .75rem;
  font-weight: 100;
  margin: 0.5rem;
}

.output {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #eee;
  color: #999;
  width: 100%;
}

input[type="color"] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;

  box-sizing: border-box;
  outline: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 3px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--rangeBG);
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 20px;
  background: var(--rangeBGSlider);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--rangeBG);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--rangeBG);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: var(--rangeBGSlider);
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--rangeBG);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: var(--rangeBG);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  background: var(--rangeBGSlider);
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--rangeBG);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--rangeBG);
}

.newImg {
  width: 100%;
  margin: 20px 0;
  border: none;
  outline: none;
  background: #d6d6d6;
  padding: 0.5rem 0;
  border-bottom: 3px solid #999;
  border-radius: 3px;
}

.newImg:active{
  margin: 22px 0 20px 0;
  border-bottom: 1px solid #999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.newImg {
  width: 100%;
  margin: 20px 0;
  border: none;
  outline: none;
  background: #d6d6d6;
  padding: 0.5rem 0;
  border-bottom: 3px solid #999;
  border-radius: 3px;
}

h4{
  line-height: 1.5rem;
}